<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bender.js Client</title>
</head>
<body>
	Waiting for tests...
	<script src="../faye/client.js"></script>
	<script src="../bender-client.js"></script>
</body>
</html>
