<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bender.js Client</title>
    <style>
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        overflow: hidden;
        font-family: 'Arial', 'Helvetica', sans-serif;
    }
    #status {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: rgba(200, 200, 200, 0.7);
        padding: 1em 0;
        margin: 0;
        text-indent: 1em;
    }
    #context {
        width: 100%; height: 100%;
        border: 0;
        margin: 0;
    }
    #status.ok { background: rgba(200, 240, 200, 0.7); }
    #status.warn { background: rgba(255, 240, 180, 0.7); }
    #status.fail { background: rgba(255, 200, 200, 0.7); }
    </style>
</head>
<body>
    <p id="status"></p>
    <iframe src="about:blank" id="context"></iframe>
    <script src="../socket.io/socket.io.js"></script>
    <script src="../bender-client.js"></script>
</body>
</html>
