body {
    padding-top: 163px;
}

a {
    cursor: pointer;
    font-weight: bold;
}

table.table {
    table-layout: fixed;
}

table.table td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table thead tr th {
    vertical-align: middle;
}

td:last-child,
th:last-child {
    width: auto;
    white-space: normal;
}

.header {
    margin: 1em 0;
}

.content {
    margin: 0 0 1em;
}

.navbar {
	background: #fff;
}

.app-title {
    font-size: 20px;
    font-weight: bold;
}

.socket-status {
    margin-left: 0;
}

.socket-status .label {
    font-size: 85.7142857%;
    padding: .3em .6em;
}

.filter-form {
    text-align: right;
}

.filter-form ul {
    text-align: left;
}

.run-button {
	vertical-align: top;
}

.tests .result {
    margin-left: .5em;
}

.context-frame {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    filter: alpha(opacity=0);
    opacity: 0;
}

.test-status {
    margin: 0;
    line-height: 34px;
    font-size: 18px;
    color: #555;
}

.browsers th:first-child {
    min-width: 200px;
}

.browsers tbody tr th {
    line-height: 32px;
}

.browsers .browser {
    background-position: 8px 50%;
    background-repeat: no-repeat;
    padding-left: 48px;
    text-transform: capitalize;
}

.jobs tbody tr td,
.jobs tbody tr th {
    padding-top: 11px;
    padding-bottom: 11px;
}

.jobs .results {
    padding-top: 0;
    padding-bottom: 0;
}

.jobs .empty {
	padding: 8px;
}

.jobs .browser,
.jobs .result {
    float: left;
    height: 42px;
    margin: 0 1px 1px 0;
    line-height: 42px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 5px 5px;
}

.jobs .browser {
    padding: 5px 5px 5px 42px;
}

.jobs .result {
    width: 67px;
    font-size: 1.25em;
}

.jobs .clickable {
    cursor: pointer;
}

.jobs .browser .glyphicon,
.jobs .browser small {
    float: left;
    clear: left;
    width: 20px;
    height: 16px;
    line-height: 16px;
}

.chrome {
    background-image: url('../images/logos/chrome_32x32.png');
}

.chromium {
    background-image: url('../images/logos/chromium_32x32.png');
}

.firefox {
    background-image: url('../images/logos/firefox_32x32.png');
}

.ie {
    background-image: url('../images/logos/ie_32x32.png');
}

.opera {
    background-image: url('../images/logos/opera_32x32.png');
}

.phantomjs {
    background-image: url('../images/logos/phantomjs_32x32.png');
}

.safari {
    background-image: url('../images/logos/safari_32x32.png');
}

.alert-wrapper {
    z-index: 1060;
    position: fixed;
    width: 50%;
    top: 0;
    left: 0;
    right: 0;
    margin: 50px auto auto;
}

.alert-wrapper .alert {
    box-shadow: 0 0 50px rgba(0, 0, 0, .3);
    cursor: pointer;
}

.form-group label span {
    font-weight: normal;
    font-style: italic;
    color: #999;
}

.moment {
    white-space: nowrap;
}

button .loader {
    display: none;
    position: relative;
    top: 2px;
    width: 16px;
    height: 16px;
    background: url('../images/button-loader.gif') no-repeat;
}

button:disabled .loader {
    display: inline-block;
}

.job-browsers-group {
	display: block;
}
