<script type="text/html" id="modal-tmpl">
	<p>Modal</p>
	<button class="submit-button">Submit</button>
</script>

<script type="text/html" id="test-errors">
	<p>TestErrors</p>
</script>

<script type="text/html" id="test-table">
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</script>

<script type="text/html" id="test-item">
	<td><%= id %></td><td><%= name %></td>
</script>

<div id="socket-status"></div>
<div id="modal"></div>
<div id="tabs"></div>
<div id="header"></div>
<div id="content"></div>
<div id="alerts"></div>
