@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?-w3ztil');
    src: url('fonts/icomoon.eot?#iefix-w3ztil') format('embedded-opentype'),
        url('fonts/icomoon.woff?-w3ztil') format('woff'),
        url('fonts/icomoon.ttf?-w3ztil') format('truetype'),
        url('fonts/icomoon.svg?-w3ztil#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', 'Helvetica', sans-serif;
}

header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    background: #c8c8c8;
    background: rgba(200, 200, 200, .7);
    text-align: right;
}

header.ok {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#c8f0c8), to(#fff));
    background: -webkit-linear-gradient(#c8f0c8, #fff);
    background: -moz-linear-gradient(#c8f0c8, #fff);
    background: -o-linear-gradient(#c8f0c8, #fff);
    background: linear-gradient(#c8f0c8, #fff);
}

header.warn {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff0b4), to(#fff));
    background: -webkit-linear-gradient(#fff0b4, #fff);
    background: -moz-linear-gradient(#fff0b4, #fff);
    background: -o-linear-gradient(#fff0b4, #fff);
    background: linear-gradient(#fff0b4, #fff);
}

header.fail {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffc8c8), to(#fff));
    background: -webkit-linear-gradient(#ffc8c8, #fff);
    background: -moz-linear-gradient(#ffc8c8, #fff);
    background: -o-linear-gradient(#ffc8c8, #fff);
    background: linear-gradient(#ffc8c8, #fff);
}

main {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 1em;
}

table {
    width: 100%;
    text-align: left;
}

th {
    width: 1px;
}

th:last-child,
td:last-child {
    width: auto;
}

th, td {
    border-bottom: 1px solid #ccc;
    padding: .5em;
    white-space: nowrap;
}

tr:not(.group):hover td:not(.result) {
    background: #ffe;
}

.title {
    font-size: 1.5em;
    margin: 0;
    float: left;
}

.ok {
    background: #c8f0c8;
    background: rgba(200, 240, 200, 0.7);
}

.warn {
    background: #fff0b4;
    background: rgba(255, 240, 180, 0.7);
}

.fail {
    background: #ffc8c8;
    background: rgba(255, 200, 200, 0.7);
}

.btn {
    font-size: 1em;
    display: inline-block;
    padding: .5em 1em;
    margin-right: .5em;
    text-decoration: none;
    color: #000;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    background: -webkit-gradient(linear, 0 100%, 0 0, from(#fefefe), to(#e6e6e6));
    background: -webkit-linear-gradient(#fefefe, #e6e6e6);
    background: -moz-linear-gradient(#fefefe, #e6e6e6);
    background: -o-linear-gradient(#fefefe, #e6e6e6);
    background: linear-gradient(#fefefe, #e6e6e6);
    cursor: pointer;
}

.btn:hover {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#fefefe));
    background: -webkit-linear-gradient(#fff, #fefefe);
    background: -moz-linear-gradient(#fff, #fefefe);
    background: -o-linear-gradient(#fff, #fefefe);
    background: linear-gradient(#fff, #efefef);
}

.btn:active {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ccc), to(#e6e6e6));
    background: -webkit-linear-gradient(#ccc, #e6e6e6);
    background: -moz-linear-gradient(#ccc, #e6e6e6);
    background: -o-linear-gradient(#ccc, #e6e6e6);
    background: linear-gradient(#ccc, #e6e6e6);
}

tr:hover .btn {
    visibility: visible;
}

tr .btn {
    padding: .25em .5em;
    visibility: hidden;
}

tr .btn:before {
    margin: 0;
}

.disabled:hover,
.disabled {
    color: #999;
    background: #ccc;
}

.group {
    cursor: pointer;
}

.group td {
    background: #eee;
    font-weight: bold;
}

.group span {
    color: #999;
}

.group span:before,
.run:before,
.capture:before,
.single:before {
    font-family: 'icomoon';
    font-size: 0.75em;
    margin-right: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.group span:before {
    content: '\e601';
}

.collapsed span:before {
    content: '\e602';
}

.capture:before {
    content: '\e607';
}

.run:before {
    content: '\e600';
}

.single:before {
    content: '\e603';
}

.clients {
    list-style-type: none;
    padding-left: .2em;
}

.clients li {
    height: 32px;
    line-height: 32px;
    padding-left: 37px;
    margin-top: 5px;
}

.chrome {
    background: url('logos/chrome_32x32.png') no-repeat;
}

.chromium {
    background: url('logos/chromium_32x32.png') no-repeat;
}

.firefox {
    background: url('logos/firefox_32x32.png') no-repeat;
}

.ie {
    background: url('logos/ie_32x32.png') no-repeat;
}

.opera {
    background: url('logos/opera_32x32.png') no-repeat;
}

.safari {
    background: url('logos/safari_32x32.png') no-repeat;
}

.status {
    min-width: 32px;
    min-height: 32px;
    text-align: center;
    color: #999;
}

.busy:before,
.waiting:before,
.ready:before,
.running:before {
    font-family: 'icomoon';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ready:before {
    content: '\e606';
}

.running:before {
    content: '\e608';
}

.busy:before {
    color: #900;
    content: '\e608';
    margin: 0 .5em;
}

.waiting:before {
    color: #090;
    content: '\e606';
    margin: 0 .5em;
}

.menu {
    list-style-type: none;
    border-bottom: 1px solid #ccc;
    padding-left: .2em;
}

.menu li {
    display: inline-block;
    margin: 0 .1em -1px;
}

.menu li a {
    display: block;
    padding: .5em 2em;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    color: #999;
}

.menu .selected {
    border: 1px solid #ccc;
    border-bottom: 1px solid #fff;
    border-top-left-radius: .25em;
    border-top-right-radius: .25em;
}

.menu .selected,
.menu a:hover {
    color: #000;
}

.result {
    background-position: 50% 50%;
    width: 32px;
    height: 32px;
    font-family: 'icomoon';
    margin-right: 1em;
    font-size: 0.75em;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

td.result {
    background: #ccc;
    color: #999;
}

td.result:before {
    content: '\e601';
}

td.ok {
    background: #c8f0c8;
    background: rgba(200, 240, 200, 0.7);
    color: #090;
}

td.ok:before {
    content: '\e606';
}

td.fail {
    background: #ffc8c8;
    background: rgba(255, 200, 200, 0.7);
    color: #900;
}

td.fail:before {
    content: '\e605';
}

td.warn {
    background: #fff0b4;
    background: rgba(255, 240, 180, 0.7);
    color: #990;
}

.loading {
    background: url('loader.gif') 50% 50% no-repeat;
    min-height: 32px;
}

.hidden {
    display: none;
}
